.m-notfound{
	padding-left: 605px;
}
.m-notfound img{
	margin-left: -605px;
}
.m-notfound div{
	float: right;
	width: 345px;
	height: 300px;
	padding-top: 60px;
	padding-right: 30px;
	background-color: #287ea6;
	text-align: right;
}
.m-notfound div p{
	font-family:Helvetica,Arial,"Microsoft Yahei",sans Serif;
	font-size: 16px;
	color: #fff;
}
.m-notfound div p span{
	font-family:Georgia,Helvetica,Arial,"Microsoft Yahei",sans Serif;
	line-height: 1.6em;
	font-size: 62px;
}