#g-footer{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 70px;
	padding-top: 20px;
	background-color: #121212;
}
#g-footer p{
	font-size: 14px;
	line-height: 22px;
	color: #2d8fbc;
	text-align: center;
}