#g-main{
	position: relative;
	padding-left: 260px;
	margin-bottom: 80px;
}
#g-main .m-sidenav{
	position: relative;
	margin-left: -260px;  
	float: left;
	width: 200px;
	padding: 81px 15px 15px;
	background-color: #287ea6;
	color:#fff;
}
.m-sidenav h3{
	position: absolute;
	top:15px;
	left: 0px;
	width: 190px;
	padding-left: 40px;
	background-color: #063e6c;
	font-size: 16px;
	font-weight: bold;
	line-height: 45px;
}
.m-sidenav h3 a{
	color: #fff;
}
.m-sidenav h3 i{
	position: absolute;
	top:14px;
	left: 15px;
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(../images/arrow_sdnav.png);
}
#g-main .m-sidenav ul{
	position: relative;
}
.m-sidenav ul li{
	margin-bottom: 10px;
}
.m-sidenav ul dl{
	display: none;
}
.m-sidenav ul li a{
	display: block;
	font-size: 14px;
	line-height: 1.4em;
	border-bottom: 1px solid #bbb;
	padding-bottom: 10px;
	color: #fff;
}
.m-sidenav ul li a:hover{
	color: #063e6c;
}
.m-sidenav ul li:last-child a{
	border-bottom: none;
}
.m-sidenav ul dd a{
	padding-left: 1em;
	border-bottom: none;
	color: #ddd;
}
.m-sidenav ul dd:first-child a{
	margin-top: 10px;
}

#g-main .m-content{

}
.m-content img.fixed{
	width: 720px;
	height: 130px;
	margin-bottom: 20px;
}
.m-content .u-location{
	/*margin-bottom: 20px;*/
}
.m-content .u-location a{
	font-size: 12px;
	color:#777;
}
.m-content h2{
	border-bottom: 1px solid #ccc;
	margin-bottom: 40px;
	font-size: 28px;
	line-height: 2em;
	font-weight: 400;
	color: #2f4f69;
}
.m-content .u-text h3, .m-content .u-text h4, .m-content .u-text p, .m-content .u-text table, .m-content .u-text dl{
	margin-bottom: 20px;
	color: #333;
}
.m-content .u-text h3{
	padding-left: 10px;
	border-left: 4px solid #2f4f69;
	font-size: 22px;
	line-height: 1.4em;
	color: #2f4f69;
}
.m-content .u-text h3~h3{
	/*  除第一行，每行h3与前一元素的间隔  */
	margin-top:50px;
}
.m-content .u-text h4, .m-content .u-text p, .m-content .u-text dl{
	font-size: 16px;
	line-height: 28px;
}
.m-content .u-text table{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}
.m-content .u-text table td{
	border:1px solid #ccc;
	padding: 10px 10px;
	line-height: 1.4em;
}
.m-content .u-text .professors td:nth-child(1){
	width: 110px;
}
.m-content .u-text .professors td:nth-child(4){
	width: 170px;
}
.m-content .u-text .professors td:nth-child(5){
	width: 135px;
}
.m-content .u-text dl dt{
	margin-bottom:7px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	font-size: 20px;
}
.m-content .u-text dl dt~dt{
	margin-top: 35px;
}
.m-content .u-text dl dt strong{
	color: #666;
}
.m-content .u-text dl dd span{
	font-size: 18px;
	line-height: 2em;
	color: #666;
}
.m-content .u-text ul.forum{
	padding-left: 20px;
	border-left: 4px solid #ccc;
}
.m-content .u-text ul.forum~.forum{
	margin-top: 30px;
}
.m-content .u-text .u-img{/*  图片用div.u-img包裹  */
	text-align: center;
	margin-bottom: 20px;
}
.m-content .u-text .u-img img{
	width: 600px;
}
.m-content .u-list{
	padding-top: 30px;
}
.m-content .u-list li{
	border-bottom: 1px solid #f3f3f3;
	font-size: 14px;
	line-height: 2em;
}
.m-content .u-list li:last-child{
	border-bottom: none;
}
.m-content .u-list li i{
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 8px;
	vertical-align: middle;
	margin-right: 7px;
	background-color: #287ea6;
}
.m-content .u-list li a:hover{
	color: #aaa;
}
.m-content .u-list li a span{
	float: right;
	color: #aaa;
}